body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
}

#game-board {
    background-color: #219e21;
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.player {
    background-color: #9900ff;
    border: .25vmin solid black;
    border-radius: 50%;
    z-index: 5;
    transition: all 1s ease-in-out;
}

.enemy {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ff0000;
    border: .25vmin solid black;
    border-radius: 50%;
    z-index: 10;
}

.bomb {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    z-index: 5;
    animation: bomb 1s ease-in-out infinite;
}

.bomb::after {
    content: "💣";
}


.explode {
    animation: wiggle .25s ease-in-out forwards;
}

/* Bomb animation */
@keyframes bomb {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.75);
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    80% {
        transform: rotate(-5deg);
    }

    85% {
        transform: rotate(5deg);
        background-color: #661212;
    }

    95% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
        background-color: #000;
    }
}

.block {
    background-color: #0b0b8a;
    border: .25vmin solid #fff;
}

.wall {
    background-color: #3e3b3b;
    border: .25vmin solid #ffffff;
}